.line1 {
  color: #red;
    display: block;
    font-size: 22px;
    font-family: arial,sans-serif;
    text-align: center;
}
#line2 {
  font-size: 24px;
  font-family: arial,sans-serif;
}
.line3 {
  font-size: 2.5em;
    font-weight: 200;
    margin: 15px 0;
    color: orange;
    font-family: "Helvetica Neue";
}
h1 {
  font-size: 2.5em;
  font-weight: 200;
  margin: 15px 0;
  color: orange;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #dbedff 32%, #ebfff0);
  font-family: "Helvetica Neue";
}
.ending {
  font-size: 24px;
  font-family: arial,sans-serif;
}
h2 {
  text-align: center;
  font-size: 50px;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #f18704 32%, #ebfff0);
}
.column {
    width: 500px;
    float: left;
  }
h3 {
  text-align: center;
  font-size: 50px;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #f18704 32%, #ebfff0);
}
h4 {
  text-align: center;
  font-size: 50px;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #f18704 32%, #ebfff0);
}
img {
  float: left;
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #f18704 32%, #ebfff0);
}
.sidebar {
  width: 25%;
  float: right;
  background-color: orange;
}
h4 {
  text-align: right;
  font-size: 50px
}
body {
  background-image: linear-gradient(180deg, rgba(255,255,255,0) 60%, #fff),linear-gradient(70deg, #f18704 32%, #ebfff0); 
}
